<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="FakturaKladder.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="FakturaKladder.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="EconomicWebServiceSoap" allowCookies="true">
          <security mode="Transport" />
        </binding>
        <binding name="EconomicWebServiceSoap1" allowCookies="true" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://api.e-conomic.com/secure/api1/EconomicWebService.asmx"
          binding="basicHttpBinding" bindingConfiguration="EconomicWebServiceSoap"
          contract="EconomicApi.EconomicWebServiceSoap" name="EconomicWebServiceSoap" />
    </client>
  </system.serviceModel>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <userSettings>
    <FakturaKladder.Properties.Settings>
      <setting name="GrantAgreementToken" serializeAs="String">
        <value />
      </setting>
      <setting name="CsvFile" serializeAs="String">
        <value />
      </setting>
    </FakturaKladder.Properties.Settings>
  </userSettings>
  <applicationSettings>
    <FakturaKladder.Properties.Settings>
      <setting name="AppSecretToken" serializeAs="String">
        <value>VoYkXDo7eTZPEHwBSjZuZhKK19EhVKLYajlPcfHyoMQ1</value>
      </setting>
      <setting name="GrantAccessUri" serializeAs="String">
        <value>https://secure.e-conomic.com/secure/api1/requestaccess.aspx?appPublicToken=zdA0JRQ9EfkOSoQJikwC5IryB51mpzqsiUDkcU36Bgk1</value>
      </setting>
    </FakturaKladder.Properties.Settings>
  </applicationSettings>
</configuration>